body{
  font-family: "Montserrat";
  overflow-x:  hidden;
}

#title
{
  background-color:#AEC2B6;
   height: 600px;
   width: 100%;;
  padding-right: 12px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5682b090a2bab87f93eeec65/1618524582688-B0I7ZWB7EPGCDYKLXILX/The+Law+Offices+Of+Dizengoff+and+Yost+Immigration+Lawyers+in+Philadelphia.png?format=750w");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #000;

}
.container-fluid{

}
h1{
  font-family:"Ubuntu";
  font-size: 2rem;
  line-height: 1.5;

}
h2{
  font-size: 3rem;
}
h3{
  font-weight: bolder;

}
p{
  color:#8f8f8f;
}

/* NAVIGATION BAR */
.navbar
{
  padding: 0 0 0;

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 10px;

}
.nav-link{
  font-size: 1rem;

}
.search{
  margin-left: 10px;
}

/* Download buttons */
.download-button
{
  margin: 5% 3% 5% 0;
}
.imgrow{
  padding: 1% 5%;
  margin-top: 50px;
}
/* Features */

.feature{
  padding: 7% 15%;
  text-align:center;
}
.icon{
  margin-bottom: 2rem;
}
.icon:hover{

  color: #ABC4AA;
}
   /* Testimonials */

   #testimonials{

     text-align: center;
     background-color: #ABC4AA;
     color: #fff;
   }
   .testimonial-image{
     width: 20%;
     border-radius: 100%;
     margin: 20px;
   }
   .carousel-item{
      padding: 7% 15%;
   }
   #press{
     background-color: #ABC4AA;
     text-align: center;
     padding-bottom: 3%;

   }
   .press-logo{
     width: 15%;
     margin: 20px 20px 30px;
   }
