body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  #filter-panel {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
  }
  
  .filter-group {
    margin-bottom: 10px;
  }

  
  
  label {
    display: inline-block;
    width: 120px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
  }
  
  #search-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #search-results {
    margin: 50px auto;
    max-width: 600px;
  }
  
  .search-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .search-item h3 {
    margin-top: 0;
  }
  
  .search-item p {
    margin: 0;
    margin-top: 10px;
  }
  
  .search-item .details {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  