{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('https://cdn.searchenginejournal.com/wp-content/uploads/2022/03/law-firm-seo-6227582d725d7-sej.png')no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.Counsel Chat 
{
    font-size: 2em;
    color: rgb(177, 191, 212);
    user-select: none;
}

.btnlogin-popup.style.display
{
  position: realtive;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left; 40px;
}
.btnlogin-popup.style.display
{
  position: realtive;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left; 40px;
}

.btnsign-in-popup
{
  width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.lem;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.wrapper
 {
    position: relative;
    width: 300px;
    height: 340px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .wrapper.active
{
    height: 520px;
}
.wrapper .form-box
{
    width: 100%;
    padding: 20px;

}
.wrapper .form-box.login
{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active.form-box.login
{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.sign-in
{
    position: absolute;
    transition: none;
    transform: translateX(400px);
} 
.wrapper.active .form-box.sign-in
{
   transition: transform .18s ease;
   transform: translateX(0);
}


.form-box
{
    font-size: 1em;
    color: #070602;
    text-align: justify;
}



.remember-forgot label input
{
    accent-color: #162938;
    margin-right: 3px;
}


.input-box
{
    position: relative;
    width: 100%;
    height: 20px;
    border-bottom: 2px sloid #162938;
    margin: 30px 0;
}
.remember-forgot 
{
    font-size:  .9em;
    color: #162938;
    font-weight: 500;
    margin: -auto 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input
{
    accent-color: #162938;
    margin-right: 1px;
}
.remember-forgot a
{
    
    text-decoration: none;
}
.btn
{
    width: 100%;
    height: 35px;
    background: burlywood;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: small;
    font-weight: 700;
    font-style: normal;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 20%; /* Full width */
    height: 200%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 20px;
  }
  
  /* Modal Content/Box */
  .modal-content .animate {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  button{
    
    color: #162938;
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
}
button:hover{
   opacity: 0.8;
}